<div class="c-rkw-content__big-wrap">
    <f:render partial="Pages/HeaderBox" />
    <div class="o-container-large">
        <f:render partial="Pages/SliderContainer" arguments="{items:page.digikitSliderImages}"/>
    </div>

    <div class="o-container">
        <div class="o-grid">
            <div class="o-grid__col u-6/12">
                <div class="o-grid">
                    <div class="o-grid__col u-8/12">
                        <f:render partial="Pages/MetaInformation" arguments="{metaInformation:page.digiKitMetaInformation}"/>
                    </div>
                </div>
            </div>
            <div class="o-grid__col u-6/12">
                <div class="c-rkw-content__buttons c-rkw-content__buttons--relative">
                    <span class="c-rkw-content__button c-rkw-content__button--invert c-rkw-content__button--like"></span>
                </div>
                <f:render partial="Content/CompanyInformation" arguments="{companyInformation:page.digiKitCompanyInformation}"/>
                <f:render partial="Content/Divider" arguments="{modifier:'small'}" />
                <f:render partial="Pages/Sharing" />
            </div>
        </div>
        <div class="o-grid">
            <div class="o-grid__col u-8/8">
                <!--<img src="source/mock/Info_Image.png" alt="" style="margin-top: 3rem;">-->
            </div>
        </div>
        <div class="o-grid">
            <div class="o-grid__col u-12/12">
                <h4 class="c-rkw-content__header2">Kategorie 1</h4>
            </div>
            <div class="o-grid__col u-3/12">
                <div class="c-rkw-bookmark-modal__bookmark"></div>
            </div>
            <div class="o-grid__col u-3/12">
                <div class="c-rkw-bookmark-modal__bookmark"></div>
            </div>
            <div class="o-grid__col u-3/12">
                <div class="c-rkw-bookmark-modal__bookmark"></div>
            </div>
            <div class="o-grid__col u-3/12">
                <div class="c-rkw-bookmark-modal__bookmark"></div>
            </div>
        </div>
        <div class="o-grid">
            <div class="o-grid__col u-12/12">
                <h4 class="c-rkw-content__header2">Kategorie 2</h4>
            </div>
            <div class="o-grid__col u-3/12">
                <div class="c-rkw-bookmark-modal__bookmark"></div>
            </div>
            <div class="o-grid__col u-3/12">
                <div class="c-rkw-bookmark-modal__bookmark"></div>
            </div>
            <div class="o-grid__col u-3/12">
                <div class="c-rkw-bookmark-modal__bookmark"></div>
            </div>
            <div class="o-grid__col u-3/12">
                <div class="c-rkw-bookmark-modal__bookmark"></div>
            </div>
        </div>
        <hr class="c-rkw-content__line">
        <div class="o-grid">
            <div class="o-grid__col u-12/12">
                <h4 class="c-rkw-content__header2">Preview Merkliste</h4>
            </div>
            <div class="o-grid__col u-3/12">
                <div class="c-rkw-bookmark-modal__bookmark"></div>
            </div>
            <div class="o-grid__col u-3/12">
                <div class="c-rkw-bookmark-modal__bookmark"></div>
            </div>
            <div class="o-grid__col u-3/12">
                <div class="c-rkw-bookmark-modal__bookmark"></div>
            </div>
            <div class="o-grid__col u-3/12">
                <div class="c-rkw-bookmark-modal__bookmark"></div>
            </div>
        </div>
        <hr class="c-rkw-content__line">
        <div class="o-grid">
            <div class="o-grid__col u-12/12">
                <h4 class="c-rkw-content__header2">Footer</h4>
            </div>
        </div>
    </div>
</div>