<div class="o-grid">
    <div class="o-grid__col u-3/12 u-text-center">
        <div class="c-rkw-content__circle"></div>
        <span class="c-rkw-content__text">Lorem</span>
    </div>
    <div class="o-grid__col u-3/12">
        <div class="c-rkw-content__circle"></div>
        <span class="c-rkw-content__text">Ipsum</span>
    </div>
    <div class="o-grid__col u-3/12">
        <div class="c-rkw-content__circle"></div>
        <span class="c-rkw-content__text">Dolor</span>
    </div>
    <div class="o-grid__col u-3/12">
        <div class="c-rkw-content__circle"></div>
        <span class="c-rkw-content__text">Lorem</span>
    </div>
    <div class="o-grid__col u-3/12">
        <div class="c-rkw-content__circle"></div>
        <span class="c-rkw-content__text">Dolor</span>
    </div>
    <div class="o-grid__col u-3/12">
        <div class="c-rkw-content__circle"></div>
        <span class="c-rkw-content__text">Lorem</span>
    </div>
    <div class="o-grid__col u-3/12">
        <div class="c-rkw-content__circle"></div>
        <span class="c-rkw-content__text">Dolor</span>
    </div>
    <div class="o-grid__col u-3/12">
        <div class="c-rkw-content__circle"></div>
        <span class="c-rkw-content__text">Ipsum</span>
    </div>
</div>
<f:render partial="Content/Divider" arguments="{modifier:'small'}" />
<f:render partial="Pages/Meta/Company" arguments="{metaInformation:metaInformation}"/>
<f:render partial="Content/Divider" arguments="{modifier:'small'}" />
<div class="c-rkw-content__slider c-rkw-slider">
    <div class="c-rkw-slider__item">
        <figure class="c-rkw-slider__image"></figure>
    </div>
</div>