<div class="o-grid">
    <div class="o-grid__col u-8/8">
        <p class="c-rkw-content__body"><strong>Teilen:</strong></p>
    </div>
    <div class="o-grid__col u-1/8">
        <i class="fa fa-facebook-official fa-3x"></i>
    </div>
    <div class="o-grid__col u-1/8">
        <i class="fa fa-twitter-square fa-3x"></i>
    </div>
    <div class="o-grid__col u-1/8">
        <i class="fa fa-linkedin-square fa-3x"></i>
    </div>
    <div class="o-grid__col u-1/8">
        <i class="fa fa-envelope fa-3x"></i>
    </div>
</div>