<p class="c-rkw-content__body">
    {metaInformation.company}<br>
    <f:translate key="digikit.page_detail.meta.business" extensionName="rkw_digi_kit" />&nbsp;{metaInformation.business}<br>
    <f:translate key="digikit.page_detail.meta.employee" extensionName="rkw_digi_kit" />&nbsp;{metaInformation.employee}<br>
    <f:translate key="digikit.page_detail.meta.place" extensionName="rkw_digi_kit" />&nbsp;{metaInformation.place}<br>
    <f:translate key="digikit.page_detail.meta.website" extensionName="rkw_digi_kit" />&nbsp;{metaInformation.website}
</p>